<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hallo, <%= @user.name %></p>
    <p>
      Du hast leider zu lange gebraucht um deinen Auftrag: "<%= @program.name %>" von dem Geraet: "<%= @device.name %>" zu bestaetigen.<br/>
    </p>
	<p>
	Aus diesem Grund musste dein Auftrag leider entfernt werden. Bitte achte das naechste Mal auf eine zeitige Bestaetigung!
	</p>
    <p>Einen schoenen Tag wuenscht dir Solarwash!</p>
  </body>
</html>