<h1>AWE Benutzerverwaltung</h1>
<p>Hallo das ist die Benutzerverwaltung, die im Rahmen von AWE entstanden ist!</p>

<%= link_to "Registrieren", signup_path %></p>
<%= link_to "Einloggen", signin_path %></p>
