<h1>AWE Benutzerverwaltung</h1>
<p>Hallo das ist die Benutzerverwaltung, die im Rahmen von AWE entstanden ist!</p>
<p><%= session[:user].name if session[:user] %></p>

<p><%= link_to "Registrieren", signup_path unless session[:user]%></p>
<p><%= link_to "Einloggen", signin_path unless session[:user]%></p>
<p><%= link_to "Ausloggen", signout_path, method: "delete" if session[:user]%></p>
