	<div class="row-fluid">
	<% @devices.each_with_index do |device, index| %>
  		<%if (index%2==0) %><div class="row-fluid"><% end %>
		<div class="span6">
			<ul class="center">
    			<li><%= device.name %></li>
    			<li><%= device.devicetype %></li>
    			<li><%= device.state %></li>
  			</ul>
		</div>
		<div cla>
		<%if (index%2==0)%></div><% end %>
		<% end %>
	</div>

